[ml2_ansible]
coordination_uri=redis://:{{ masterauth_value.stdout }}@{{ master_ip }}:6379/
[ansible:switch1]
ansible_connection=ansible.netcommon.network_cli
ansible_network_os=dellemc.os9.os9
ansible_host=10.2.4.90
ansible_user=admin
ansible_ssh_pass={{ ansible_switch_ssh_password }}
ansible_become_password={{ ansible_switch_ssh_password }}
ansible_become=yes
ansible_become_method=enable
mac=4c:d9:8f:dc:e0:c9
manage_vlans=True
ansible_connection=local
stp_edge=True
[ansible:brocade-15-42]
ansible_connection=ansible.netcommon.network_cli
ansible_network_os=nos
ansible_host=10.0.15.42
ansible_user=admin
ansible_ssh_pass={{ ansible_brocade_ssh_password }}
ansible_become=no
mac=50:eb:1a:61:5d:6a
manage_vlans=True
ansible_connection=local
stp_edge=True
[ansible:cisco-23-40]
ansible_network_os=nxos
ansible_host=10.2.23.40
ansible_user=admin
ansible_ssh_pass={{ ansible_cisco_23_40_password }}
mac=e4:c7:22:c0:0b:bc
manage_vlans=True
ansible_connection=local
stp_edge=True
[ansible:MOC-R4PAC21-SW-TORS-A]
ansible_connection=ansible.netcommon.network_cli
ansible_network_os=dellemc.os9.os9
ansible_host=10.2.10.1
ansible_user=admin
ansible_ssh_pass={{ ansible_sw_moc_ssh_password }}
ansible_become_password={{ ansible_sw_moc_ssh_password }}
ansible_become=yes
ansible_become_method=enable
mac=d8:9e:f3:a4:46:a2
manage_vlans=True
ansible_connection=local
stp_edge=True
[ansible:MOC-R4PAC21-SW-TORS-B]
ansible_connection=ansible.netcommon.network_cli
ansible_network_os=dellemc.os9.os9
ansible_host=10.2.10.2
ansible_user=admin
ansible_ssh_pass={{ ansible_sw_moc_ssh_password }}
ansible_become_password={{ ansible_sw_moc_ssh_password }}
ansible_become=yes
ansible_become_method=enable
mac=0c:29:ef:a0:8d:a2
manage_vlans=True
ansible_connection=local
stp_edge=True
[ansible:MOC-R4PAC22-SW-TORS-A]
ansible_connection=ansible.netcommon.network_cli
ansible_network_os=dellemc.os9.os9
ansible_host=10.2.12.1
ansible_user=admin
ansible_ssh_pass={{ ansible_sw_moc_ssh_password }}
ansible_become_password={{ ansible_sw_moc_ssh_password }}
ansible_become=yes
ansible_become_method=enable
mac=34:17:eb:37:e7:82
manage_vlans=True
ansible_connection=local
stp_edge=True
[ansible:MOC-R4PAC22-SW-TORS-B]
ansible_connection=ansible.netcommon.network_cli
ansible_network_os=dellemc.os9.os9
ansible_host=10.2.12.2
ansible_user=admin
ansible_ssh_pass={{ ansible_sw_moc_ssh_password }}
ansible_become_password={{ ansible_sw_moc_ssh_password }}
ansible_become=yes
ansible_become_method=enable
mac=d8:9e:f3:a2:18:22
manage_vlans=True
ansible_connection=local
stp_edge=True
[ansible:MOC-R4PAC24-SW-TORS-A]
ansible_connection=ansible.netcommon.network_cli
ansible_network_os=dellemc.os9.os9
ansible_host=10.2.11.1
ansible_user=admin
ansible_ssh_pass={{ ansible_sw_moc_ssh_password }}
ansible_become_password={{ ansible_sw_moc_ssh_password }}
ansible_become=yes
ansible_become_method=enable
mac=54:bf:64:ed:d7:c3
manage_vlans=True
ansible_connection=local
stp_edge=True
[ansible:MOC-R4PAC24-SW-TORS-B]
ansible_connection=ansible.netcommon.network_cli
ansible_network_os=dellemc.os9.os9
ansible_host=10.2.11.2
ansible_user=admin
ansible_ssh_pass={{ ansible_sw_moc_ssh_password }}
ansible_become_password={{ ansible_sw_moc_ssh_password }}
ansible_become=yes
ansible_become_method=enable
mac=0c:29:ef:bd:a8:a2
manage_vlans=True
ansible_connection=local
stp_edge=True
[ansible:MOC-R4PAC10-SW-TORS-A]
ansible_connection=ansible.netcommon.network_cli
ansible_network_os=dellemc.os9.os9
ansible_host=10.2.13.1
ansible_user=admin
ansible_ssh_pass={{ ansible_sw_moc_ssh_password }}
ansible_become_password={{ ansible_sw_moc_ssh_password }}
ansible_become=yes
ansible_become_method=enable
mac=3c:2c:30:37:ee:02
manage_vlans=True
ansible_connection=local
stp_edge=True
[ansible:MOC-R4PAC10-SW-TORS-B]
ansible_connection=ansible.netcommon.network_cli
ansible_network_os=dellemc.os9.os9
ansible_host=10.2.13.2
ansible_user=admin
ansible_ssh_pass={{ ansible_sw_moc_ssh_password }}
ansible_become_password={{ ansible_sw_moc_ssh_password }}
ansible_become=yes
ansible_become_method=enable
mac=0c:29:ef:ce:8b:a2
manage_vlans=True
ansible_connection=local
stp_edge=True
[ansible:MOC-R4PAC08-SW-TORS-A]
ansible_connection=ansible.netcommon.network_cli
ansible_network_os=dellemc.os9.os9
ansible_host=10.2.14.1
ansible_user=admin
ansible_ssh_pass={{ ansible_sw_moc_ssh_password }}
ansible_become_password={{ ansible_sw_moc_ssh_password }}
ansible_become=yes
ansible_become_method=enable
mac=d8:9e:f3:ae:e5:a2
manage_vlans=True
ansible_connection=local
stp_edge=True
[ansible:MOC-R4PAC08-SW-TORS-B]
ansible_connection=ansible.netcommon.network_cli
ansible_network_os=dellemc.os9.os9
ansible_host=10.2.14.2
ansible_user=admin
ansible_ssh_pass={{ ansible_sw_moc_ssh_password }}
ansible_become_password={{ ansible_sw_moc_ssh_password }}
ansible_become=yes
ansible_become_method=enable
mac=4c:76:25:e7:e3:42
manage_vlans=True
ansible_connection=local
stp_edge=True
[ansible:MOC-R4PAC04-SW-TORS]
ansible_connection=ansible.netcommon.network_cli
ansible_network_os=dellemc.os9.os9
ansible_host=10.2.16.1
ansible_user=admin
ansible_ssh_pass={{ ansible_sw_moc_ssh_password }}
ansible_become_password={{ ansible_sw_moc_ssh_password }}
ansible_become=yes
ansible_become_method=enable
mac=3c:2c:30:44:09:02
manage_vlans=True
ansible_connection=local
stp_edge=True
[ansible:MOC-R4PAC02-SW-TORS]
ansible_connection=ansible.netcommon.network_cli
ansible_network_os=dellemc.os9.os9
ansible_host=10.2.17.1
ansible_user=admin
ansible_ssh_pass={{ ansible_sw_moc_ssh_password }}
ansible_become_password={{ ansible_sw_moc_ssh_password }}
ansible_become=yes
ansible_become_method=enable
mac=54:bf:64:b3:52:c2
manage_vlans=True
ansible_connection=local
stp_edge=True
[ansible:OCT4-SW-ESIDEV]
ansible_connection=ansible.netcommon.network_cli
ansible_network_os=dellemc.os9.os9
ansible_host=10.2.4.100
ansible_user=admin
ansible_ssh_pass={{ ansible_switch_ssh_password }}
ansible_become_password={{ ansible_switch_ssh_password }}
ansible_become=yes
ansible_become_method=enable
mac=68:4f:64:1d:01:d5
manage_vlans=True
ansible_connection=local
stp_edge=True
[ansible:NERC-R8PAC23-SW-TORS]
ansible_connection=ansible.netcommon.network_cli
ansible_network_os=dellemc.os9.os9
ansible_host=10.2.18.1
ansible_user=admin
ansible_ssh_pass={{ ansible_sw_moc_ssh_password }}
ansible_become_password={{ ansible_sw_moc_ssh_password }}
ansible_become=yes
ansible_become_method=enable
mac=54:bf:64:aa:86:c2
manage_vlans=True
ansible_connection=local
stp_edge=True
[ansible:MOC-R4PCC02-SW-TORS]
ansible_network_os=cumulus_nvue
ansible_host=10.2.19.1
ansible_user=esi
ansible_ssh_pass={{ ansible_sw_moc_ssh_password }}
mac=b0:cf:0e:c2:99:ff
manage_vlans=True
stp_edge=True
[ansible:MOC-R4PCC04-SW-TORS]
ansible_network_os=cumulus_nvue
ansible_host=10.2.20.1
ansible_user=esi
ansible_ssh_pass={{ ansible_sw_moc_ssh_password }}
mac=b0:cf:0e:c2:93:ff
manage_vlans=True
stp_edge=True